@{
    ViewData["Title"] = "Home Page";
}

<DOCTYPE html>
    <html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="~/Content/MainPage.css">
    </head>
    <body>
        <div class="Welcome">
            <h1>Hello</h1>
        </div>
    </body>
    </html>
</DOCTYPE>